body{
    background-color: #212121;
}

img{
    margin-bottom: 2%;
}

aside{
    background-color: #0D7377;
    color: #fff;
}

section{
    background-color: #323232;
    color: #fff;
}


seccion2{
    color: #fff;
}

p{
    color: #fff;
}

sec2{
    background-color: #0D7377;
}

#imginf{
    max-width: 400px;
}